<h1>Update Client</h1>
<p><a href='/items'>Back to List<a/></p>
<form action="/items/@Model.GetClientId()/update" method="post">
  <label for="updateClient">Update client name:</label>
  <input id="updateClient" name="updateClient" type="text" value="@Model.GetClientName()">
  <button type="submit">Submit</button>
</form>
