<h1>Update Stylist</h1>
<p><a href='/categories'>Back to List<a/></p>
<form action="/categories/@Model.GetStylistId()/update" method="post">
  <label for="updateStylist">Update stylist name:</label>
  <input id="updateStylist" name="updateStylist" type="text" value="@Model.GetStylistName()">
  <button type="submit">Submit</button>
</form>
